 <body>

  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
   <img src="<%= asset_path "Twitter_Logo_Blue.png" %>">
   <h>Instaggg</h>
  </section>

  <section class="about">
   <h1>このサイトについて</h1>
    <p>練習用にインスタグラムに似せて作成したモノです。<br>
    </p>
  </section>

 </body>
