 <body>

  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
   <img src="<%= asset_path "FB-fLogo-Blue-broadcast-2.png" %>">
   <h>Facebox</h>
  </section>

  <section class="about">
   <h1>このサイトについて</h1>
    <p>練習用にFacebookに似せて作成したモノです。<br>
    </p>
  </section>

 </body>
