 <body>
  
  <section class="main-header">
   <img src="<%= asset_path "Twitter_Logo_Blue.png" %>">
   <h>Ttwwrr</h>
  </section>
  
  <section class="about">
   <h1>このサイトについて</h1>
    <p>練習用にTwitterに似せて作成したモノです。<br>
    </p>
  </section>
  
 </body>
